$HEADING_TEXT_COLOR: #56606b;
$INPUT_BORDER_COLOR: #bec9d4;

.container {
    background-color: #f5f8fa;
    min-height: 100vh !important;
    .wrapper {
        background-color: white;
        min-height: 100vh !important;
    }
}
.title-container {
    height: 39px;
    padding: 9px 0px 7px 17px;
    background-color: #e9eef3;
    .icon-number {
        width: 23px;
        height: 23px;
    }
    .title {
        margin-left: 10px;
        font-size: 15px;
        color: #6b7682;
    }
    .size-container {
        position: absolute;
        right: 10px;
        color: #6B7682;
        font-size: 12px;
        line-height: 18.28px;
    }
    .invalid-size {
        color: red;
        font-size: 14px;
        font-weight: 800;
    }
}
.content-container {
    padding: 1rem 2rem;
    &.divider {
        border-bottom: 0.3px solid $INPUT_BORDER_COLOR;
    }
}
.header__content {
    position: absolute;
    top: 108px;
    left: 31px;
    display: flex;
    flex-direction: column;
}
.header-title {
    font-size: 21px;
    line-height: 31px;
}
.header-title--bold600 {
    font-weight: 600;
}
.header-title--bold500 {
    font-weight: 500;
}
.header-sub-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}
.header-sub-title--marginTop {
    margin-top: 24px;
}
.step-2-container {
    .ant-upload {
        width: 100%;
    }
    .ant-upload-list {
        display: none;
    }
}
.step2-content-container {
    border: 0.3px solid #c4c4c4;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .camera-icon {
        width: 30px;
        object-fit: contain;
    }
    .pick-img-description {
        font-size: 13px;
        color: #8996a3;
        margin-left: 1rem;
        .size {
            color: #2c3238;
        }
    }
}
.file-item {
    position: relative;
    border: 0.4px solid #c4c4c4;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 9px;
    margin-left: 12px;
    .file-icon {
        width: 30px;
        object-fit: contain;
    }
    .file-description {
        font-size: 13px;
        color: #8996a3;
        margin-left: 1rem;
        margin-right: 2rem;
        .file-name {
            color: #2c3238;
            font-weight: 500;
            font-size: 12px;
            line-height: 20.5px;
            word-wrap: break-word;
        }
        .file-extension {
            color: #2c3238;
            font-size: 12px;
            font-weight: 600;
            line-height: 20.5px;
        }
        .file-size {
            color: #8996a3;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
        }
    }
    .btn-remove {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 10px;
        img {
            width: 15.83px;
            height: 15.83px;
        }
    }
    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    button:focus {
        border: none;
        outline: none;
    }
}
.header {
    background: transparent !important;
    background-image: url(../images/background.png) !important;
    background-size: 100% 100% !important;
    min-height: 254px !important;
    line-height: normal !important;
    position: relative;
    .header__signal {
        width: 229px;
        height: 218px;
        position: absolute;
        right: 0;
    }
    .logo_text {
        position: absolute;
        top: 38px;
        left: 22px;
        width: 194px;
    }
}
.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
        color: "#56606B";
        font-size: 17;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: auto !important;
    }
}
.step3-label {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    padding-left: 10px;
    color: $HEADING_TEXT_COLOR;
}
.send-email-warning-container {
    background-color: #f5f7fa;
    border-radius: 8px;
    padding: 13px 22px;
    margin-top: 10px;
    .text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    .underline-text {
        text-decoration: underline;
    }
    .copy-btn-container {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        .copy-btn {
            font-size: 12px;
            font-weight: 400;
            display: flex;
            align-items: center;
            cursor: pointer;
            .copy-icon {
                width: 10px;
                height: 10px;
                margin-left: 7px;
            }
        }
    }
}
.send-mail-radio-group {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px !important;
    input:checked + .ant-radio-inner {
        border-color: #dc004e;
        background-color: #dc004e;
        &::after {
            background-color: white;
        }
    }
    .ant-radio-inner::after:hover {
        border-color: #dc004e;
    }
}
.email-input-container {
    margin-top: 23px;
    b {
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        color: $HEADING_TEXT_COLOR;
    }
    input {
        width: 100%;
        margin-top: 7px;
        color: #6b7682;
        font-size: 13px;
        padding: 8px 12px;
        border: 0.3px solid $INPUT_BORDER_COLOR;
        border-radius: 4px;
        &:focus,
        &:hover {
            border-color: #c3c3c4;
            box-shadow: none !important;
            outline: none !important;
        }
    }
    #inputEmail {
        caret-color: #e0205c;
    }
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 21px 24px;
    border-top: 0.3px solid $INPUT_BORDER_COLOR;
    margin-top: 10px;
    button {
        width: 100%;
        max-width: 300px;
        height: 52px;
        border-radius: 3px;
        background-color: #424952;
        color: white;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
    }
}
