$INPUT_BORDER_COLOR: #bec9d4;
$INPUT_TEXT_COLOR: #6b7682;

.custom-input {
    width: 100%;
    border-top: 0.3px solid $INPUT_BORDER_COLOR;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-size: 15px !important;
    padding: 12px !important;
    color: $INPUT_TEXT_COLOR !important;
    caret-color: #E0205C;
    &::placeholder {
        font-size: 15px !important;
        color: $INPUT_TEXT_COLOR !important;
    }
    &:focus, &:hover {
        border-color: $INPUT_BORDER_COLOR !important;
        box-shadow: none !important;
        outline: none !important;
    }
}
.custom-textarea {
    width: 100%;
    font-size: 15px;
    border: none;
    resize: none;
    color: $INPUT_TEXT_COLOR;
    caret-color: #E0205C;
    &::placeholder {
        font-size: 15px !important;
        color: $INPUT_TEXT_COLOR !important;
    }
    // &::first-line {
    //     padding-left: 10px;
    //     border-left: 0.3px solid #e0205c;
    // }
    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}
