@font-face {
    font-family: "NotoSansKR";
    src: local("NotoSansKR") url(./assets/font/Noto-San-KR/NotoSansKR-Regular.otf) format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: local("NotoSansKR") url(./assets/font/Noto-San-KR/NotoSansKR-Thin.otf) format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: local("NotoSansKR") url(./assets/font/Noto-San-KR/NotoSansKR-Light.otf) format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: local("NotoSansKR") url(./assets/font/Noto-San-KR/NotoSansKR-Medium.otf) format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: local("NotoSansKR") url(./assets/font/Noto-San-KR/NotoSansKR-Bold.otf) format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 900;
    src: local("NotoSansKR") url(./assets/font/Noto-San-KR/NotoSansKR-Black.otf) format("truetype");
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: bold;
    src: local("NotoSansKR") url(./assets/font/Noto-San-KR/NotoSansKR-Bold.otf) format("truetype");
}

body {
    margin: 0;
    font-family: "NotoSansKR", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.2px !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
